<%= form_for(
  option_set,
  url: option_sets_path,
  method: :post,
  remote: true,
  html: { class: 'option_set_form' }) do |f| %>
  <div class="option-set panel panel-default">
    <div class="options panel-body">
      <%= render 'options', f: f %>
      <div class="submit">
        <button type="submit" class="btn btn-default">
          <%= icon('cog') %> Generate
        </button>
      </div>
    </div>
    <div class="output-container">
      <% if option_set.persisted? %>
        <%= render 'output', option_set: option_set %>
      <% end %>
    </div>
  </div>
<% end %>
