<div class="well output">
  <samp>
    <%= render 'option_set.text.erb', option_set: option_set %>
  </samp>
</div>
<div class="download">
  <button type="button" class="btn btn-default">
    <%= icon('clipboard') %> Copy
  </button>
  <%= link_to download_option_set_path(option_set), class: "btn btn-success" do %>
    <%= icon('download') %> Download
  <% end %>
</div>
